# Do not search for config files in the parent directories
config.stopBubbling = true
# Do not generate annotation @java.beans.ConstructorProperties on constructors
lombok.anyconstructor.addconstructorproperties = false
# Mark all generated methods with @lombok.Generated - remove them from code coverage tools etc.
lombok.addLombokGeneratedAnnotation = true
# Warn if experimental features are used
lombok.experimental.flagUsage = warning
